<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Songs</title>
</head>
<body>
    <h1>Ini adalah Add Songs</h1>
    <form action="http://localhost:3000/songs/add" method="POST">
        <label>Title</label><br>
        <input type="text" name="title"><br>

        <label>Band Name</label><br>
        <input type="text" name="bandName"><br>

        <label>Duration</label><br>
        <input type="number" name="duration"><br>

        <label>Genre</label><br>
        <select name="genre">
            <option value="Rock">Rock</option>
            <option value="Pop">Pop</option>
            <option value="Dangdut">Dangdut</option>
            <option value="Jazz">Jazz</option>
            <option value="Other">Other</option>
        </select><br>

        <label>Lirik</label><br>
        <textarea name="lyric" rows="4" cols="50"></textarea><br>

        <label>Image</label><br>
        <input type="url" name="imageUrl"><br>

        <label>Label</label><br>
        <select name="labelId">
            <option selected disabled>--Select--</option>
            <% result.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.name %></option>
            <% }) %>
        </select><br>
        
        <label>Create Date</label><br>
        <input type="date" name="createdDate"><br>
        
        <input type="submit" value="Add">
    </form>
    <% if (errors) { %>
        <% errors = errors.split(",") %>
        <% errors.forEach(el => { %>
            <p style="color: red;"><%= el %></p>
        <% }) %>
    <% } %> 
</body>
</html> 