<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labels</title>
</head>
<body>
    <h1>Ini adalah Labels</h1>
    <table border="1", cellspacing="0", cellpadding="15">
        <tr>
            <th>Name</th>
            <th>Since</th>
            <th>City</th>
        </tr>
        <% for(let i = 0; i < data.length; i++) { %>
        <tr>
            <td><%= data[i].name %></td>
            <td><%= data[i].formatSince %></td>
            <td><%= data[i].city %></td>
        </tr>
        <% } %>
    </table>
</body>
</html> 